quart
flask-limiter
flask-mail
gino
sqlalchemy
simpleflake
pyjwt
aioredis
aiofiles
webargs
marshmallow_enum
aiohttp
bcrypt
pycryptodomex
alembic
hypercorn[uvloop]
cachetools
git+https://owo.codes/whats-this/owo.py.git
psycopg2
